@import "../../../../styles/variables";

.default-class {
  background-color: $primary-dark;
  color: $white;
  outline: none;
  border: none;
  padding: 7px;
  border-radius: 7px;
  transition: background-color 0.2s ease;
  &:hover {
    background-color: darken($primary-dark, 10%);
  }
}
.info-icon {
  font-size: 16px;
  cursor: pointer;
  opacity: 0.7;
}
.info-icon:hover {
  opacity: 1;
}
.btn-image {
  width: 18px;
  height: 18px;
  object-fit: contain;
  vertical-align: middle;
}
