<p>manage-pi works!</p>

<mat-slide-toggle [(ngModel)]="toggleChecked" (change)="toggleTheme($event)">
  Enable Feature
</mat-slide-toggle>

<p>Slide Toggle is: {{ toggleChecked ? "ON" : "OFF" }}</p>

<!-- Primary -->
<button type="button" class="btn btn-primary">Primary normal</button>

<euro-button [config]="myButtonConfig" (clicked)="onsave()"> </euro-button>

<!-- Secondary -->
<button type="button" class="btn btn-secondary">Secondary</button>

<!-- Success -->
<button type="button" class="btn btn-success">Success</button>

<!-- Danger -->
<button type="button" class="btn btn-danger">Danger</button>

<!-- Warning -->
<button type="button" class="btn btn-warning">Warning</button>

<!-- Info -->
<button type="button" class="btn btn-info">Info</button>

<!-- Light -->
<button type="button" class="btn btn-light">Light</button>

<!-- Dark -->
<button type="button" class="btn btn-dark">Dark</button>

<!-- Link styled as button -->
<button type="button" class="btn btn-link">Link</button>

<div class="new-class">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi distinctio
  nesciunt necessitatibus beatae voluptatibus ipsa est maxime voluptates ex, a
  mollitia nihil magnam aliquam. Doloribus cupiditate, corrupti reprehenderit
  repudiandae quos ducimus provident praesentium perspiciatis libero laborum
  suscipit nulla vero temporibus quisquam, iste incidunt eligendi asperiores
  ipsa? Magni architecto id, exercitationem excepturi tempora expedita ex omnis
  dolorum velit numquam sed, aspernatur possimus. Magnam nesciunt porro culpa
  laboriosam, tempore, sed corrupti quod distinctio suscipit aliquid esse
  reprehenderit deserunt iste delectus consequuntur eos, consectetur quia
  quisquam quibusdam ut maiores! Nihil quo delectus libero magnam magni
  doloribus ut aperiam? Iusto explicabo esse sapiente omnis.
</div>
