<p>manage-pi works!</p>

<mat-slide-toggle [(ngModel)]="toggleChecked">
  Enable Feature
</mat-slide-toggle>

<p>Slide Toggle is: {{ toggleChecked ? "ON" : "OFF" }}</p>

<!-- Primary -->
<button type="button" class="btn btn-primary">Primary normal</button>

<euro-button [config]="myButtonConfig" (clicked)="onsave()"> </euro-button>

<!-- Secondary -->
<button type="button" class="btn btn-secondary">Secondary</button>

<!-- Success -->
<button type="button" class="btn btn-success">Success</button>

<!-- Danger -->
<button type="button" class="btn btn-danger">Danger</button>

<!-- Warning -->
<button type="button" class="btn btn-warning">Warning</button>

<!-- Info -->
<button type="button" class="btn btn-info">Info</button>

<!-- Light -->
<button type="button" class="btn btn-light">Light</button>

<!-- Dark -->
<button type="button" class="btn btn-dark">Dark</button>

<!-- Link styled as button -->
<button type="button" class="btn btn-link">Link</button>
