.sales-layout {
  display: flex;
  height: 100vh;
  width: 100%;
  overflow: hidden;

  // app-left-pane {
  //   flex: 0 0 250px; // fixed width when expanded
  //   transition: flex-basis 0.3s ease;
  //   overflow: hidden;
  //   position: relative;

  //   &.collapsed {
  //     flex-basis: 50px; // collapsed width
  //   }

  //   &.collapsed-pane {
  //     width: fit-content;
  //     flex: unset;
  //   }
  // }

  app-left-pane {
    flex-shrink: 0;
    transition: width 0.3s ease;

    .pane-container {
      width: 250px;
      transition: width 0.3s ease;

      &.collapsed {
        width: 50px;
      }
    }
  }

  // main.content {
  //   flex: 1; // always takes remaining width
  //   display: flex;
  //   flex-direction: column;
  //   overflow: hidden;

  //   .content-header {
  //     height: 60px;
  //     display: flex;
  //     align-items: center;
  //     justify-content: center;
  //     background-color: #f1f3f5;
  //     border-bottom: 1px solid #ddd;
  //     font-weight: 500;
  //   }

  //   .content-body {
  //     flex: 1;
  //     overflow-y: auto;
  //     padding: 20px;
  //     background-color: #fafafa;
  //   }
  // }

  main.content {
    flex: 1; // fill remaining space
    transition: margin 0.3s ease;

    &.left-collapsed {
      margin-left: 50px; // match left collapsed width
    }

    &.right-collapsed {
      margin-right: 50px; // match right collapsed width
    }
  }

  // app-right-pane {
  //   flex: 0 0 250px; // fixed width when expanded
  //   transition: flex-basis 0.3s ease;
  //   overflow: hidden;
  //   position: relative;

  //   .collapsed {
  //     flex-basis: 50px; // collapsed width
  //   }

  //   &.collapsed-pane {
  //     width: fit-content;
  //     flex: unset;
  //   }
  // }

  app-right-pane {
    flex-shrink: 0;
    transition: width 0.3s ease;

    .pane-container {
      width: 250px;
      transition: width 0.3s ease;

      &.collapsed {
        width: 50px;
      }
    }
  }
}
